/*----------Global Margin Reset --------------*/

* {
  margin: 0px;
  padding: 0px;
}
body {
  text-align: center;
  font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
  background-color: #171717;
  font-size: 16px;
  line-height: 1.5em;
  background-image: url(../img/backgroundimg.jpg);
  background-repeat: repeat-x;
}
#container {
  max-width: 800px;
  margin-right: auto;
  margin-left: auto;
  text-align: left;
  background-color: #fff;
  margin-top: 20px;
  border: 1px solid #ccc;
}
#header {
	 background-image: url(../img/headerimage.webp);
	 background-repeat: repeat-x;
	 height: 140px;

}
#header h1 a {
	display:block;
	height: 140px;
	text-indent: 100%;
	white-space: nowrap;
	overflow:hidden;

}
#nav {
  background-color: #000;
}
#nav ul {
  list-style-type: none;
  margin-left: 10px;
}
#nav ul li {
  display: inline;
  height: 35px;
  line-height: 35px;
}
#nav ul li a {
  display: inline-block;
  padding-right: 10px;
  padding-left: 10px;
  font-size: 18px;
}
#nav ul li a:link,
#nav ul li a:visited {
  text-decoration: none;
  border-bottom-width: 4px;
  border-bottom-style: solid;
  border-bottom-color: #000;
  color: #fff;
}
#nav ul li a:hover {
  border-bottom-width: 3px;
  border-bottom-style: solid;
  border-bottom-color: #ccc;
}
#content {
  margin: 20px;
}
#content p {
  margin-top: 5px;
  margin-bottom: 15px;
}

#content img {
float: right;
border-style: double;
border-width: 20px;
border-radius: 15%;
border-color: #d5897e;
margin: 20px;
}

#footer {
  background-color: #000;
  color: #fff;
  height: 25px;
}
#footer h6 {
  font-size: 12px;
  line-height: 25px;
  margin-right: 20px;
  margin-left: 20px;
}

.alert {
	background-color: #d5897e



}

h2,h3,h4{
	color: #d5897e;

}

a[href="#top"] { 
   color: #d5897e

}
a[href="https://validator.w3.org/nu/?doc=https%3A%2F%2Fbasshitt84.github.io%2Fifsc-34203%2F"] { 
   color: #d5897e

}

a[href="https://basshitt84.github.io/portfolio/"] { 
   color: #d5897e

}






