/* apply a natural box layout model to all elements, but allowing components to change */
html {
  box-sizing: border-box;
}
*,
*:before,
*:after {
  box-sizing: inherit;
  
}
/* Fix Clearing Bugs */

.cf:before,
.cf:after {
  content: " "; /* 1 */
  display: table; /* 2 */
}

.cf:after {
  clear: both;
}

main {
/* background-image: url("../img/grid.png");  */
width:960px;
margin: 20px auto;
border: 1px solid #000;  
}

header.primary, footer.primary{

 /* width:916px; */
 width: 95.41%;
 background: rgba(0, 0, 0, 0.4);
 margin: 2.295%;
 padding: 20px;
 float: left; 
}
#blog{
  /* width:448px; */
  width:46.66%;
  background: rgba(0, 0, 0, 0.6 );
  padding: 20px;
  float: left;
  margin-left:2.13%;

}
aside{
    background: rgba(0, 0, 0, 0.3 );
    /* width:448px; */
     width:46.66%;
     padding: 20px;
     float: left; 
     margin-left: 2.13%;

    
    



}