* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;

}

:root {
  --bg: #727362;
  --text: #F2F1F0;
  --box: #535259;
}


body {
  font-family: "Inter", Arial, Helvetica, sans-serif;
  background: var(--bg);
  color: var(--text);
  padding: 40px 20px;
}

h1 {
 
  text-align: center;
  font-size: 2.2rem;
  margin-bottom: 30px;
  color: var(--text);
}

/* GRID CONTAINER */
.wrapper {
  max-width: 850px;
  margin: 0 auto;

  display: grid;
  gap: 14px;

  /* responsive grid */
  grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
}

/* GRID ITEMS */
.box {
  background: var(--box);
  color: var(--text);
  border-radius: 14px;
  padding: 22px;
  font-size: 1.4rem;

  text-align: center;
  text-decoration: none;
  display: grid;
  place-items: center;

  min-height: 110px;
  transition: 0.2s ease;
}


/* hover effect only for links */
a.box:hover {
  background: #444;
  transform: translateY(-2px);
}

/* PLACEHOLDER boxes */
.placeholder {
  background: #e8e8ec;
  color: #666;
  border: 2px dashed #bbb;
}
